
@media (max-width: 745px) {

    /* header */
    header {
        padding-inline: 24px;
    }

    /* section2 */
    .section_second_div {
        width: 384px;
    }

    .box1_div,
    .box2_div,
    .box3_div,
    .box4_div {
        width: 180px;
        height: 162px;
    }

    .boxbutton {
        padding: 8px;
        font-size: 16px;
        line-height: 24px;
    }

    /* section 3 */
    .section3 {
        padding: 48px 32px;
    }

    /* footer  */
    .footer_index {
        padding: 87px 24px;
    }

   
    

    /* section2artworks */
    .section2_artworks {
        padding-inline: 24px;
    }

    /* <!-- section1contact --> */
   
    .contact_section1 {
    
        padding-left: 24px;
    }


   

}

@media (max-width: 650px) {

    /* artworks */
    .artworks_section_first {
        height: 400px;
        padding-inline: 20px;
        row-gap: 32px;
    }

    .artworks_section_first_div_title {
        font-size: 28px;
        line-height: 39px;
        text-align: center;

    }
    .artworks_section_first_div_form {
        width: 100%;
    }

    .artworks_section_first_div_button {
        padding-inline: 24px;
    }

   

    /* section2artworks */
    .section2_artworks_head_title {
        font-size: 16px;
        line-height: 24px;
    }

 
}

@media (max-width: 530px) {

    /* section2artworks */
    .button_div {
        width: 100%;
    }

    /* section 4 */

    .section4 {
        height: 320px;
        row-gap: 24px;
        padding-inline: 20px;
    }

    .form_section4 {
        width: 100%;
    }

    .section4_div_title {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

    .section4_div_button {
        padding: 16px 21px;
        font-size: 10px;
    }

    /* footer  */

    .footer_index {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        padding: 32px 0;
        text-align: center;
        margin: auto;
    }


    /* section2artwork */

    .section2_artworks {
        padding-inline: 24px;
    }

    
    

    .contact_section1_div {
        padding: 24px 20px;
    }

}
@media (max-width: 500px) {
    /* contactsection */
    .contact_section1 {
        padding-inline: 24px;
        height: 560px;
    }

    .contact_section1_div {
        padding: 24px 20px;
    }

    .contact_section1_div_title {
        font-size: 32px;
        line-height: 39px;
    }
}



@media (max-width: 486px) {

    /* header */
    header {
        padding-inline: 20px;
    }

    /* section 1 */
    .section_first {
        height: 304px;
    }

    /* section 3 */
    .section3 {
        padding: 32px 8px;
    }

}
@media (max-width: 485px) {
    .section_first_title {
        font-size: 32px;
    }

    /* section2 */
    .section_second {
        padding-block: 64px;
    }

    /* section3 */
    .section3 {
        padding-block: 64px;
        row-gap: 32px;
    }
    .section3_title {
        font-size: 32px;
        line-height: 40px;
    }

    /* section2artworks */
    .section2_artworks {
        padding-block: 64px;
    }

}




@media (max-width: 420px) {
    /* section2 */
    .section_second{
        padding-inline: 20px;
    }
    .section_second_div,
    .box1_div,
    .box2_div,
    .box3_div,
    .box4_div {
        width: 100%;
    }

  
}



